name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
      env:
        NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test
      run: dotnet test --no-restore --verbosity normal
    - name: Build NuGet package
      run: dotnet pack -c Release -o out
    - name: Setup nuget config
      run: sed 's/GITHUB_TOKEN/${{secrets.GITHUB_TOKEN}}/g' .nuget.config > nuget.config
    - name: Push package to registry
      run: dotnet nuget push out/*.nupkg -s "github" -k ${{secrets.GITHUB_TOKEN}}
